<!DOCTYPE html>
<html lang="en">
<!--
    Adam Coulon
    Final Project: Homepage 
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Global Education</title>

    <link rel="stylesheet" type="text/css" href="static\css\normalize.css">
    <link rel="stylesheet" type="text/css" href="static\css\style.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   
    <!-- Sidenav display -->
    <script src="https://kit.fontawesome.com/bf37eaf948.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="head">
        <h1>Educations Affect on Unemployment Levels </h1>
    </header>

    <div>
        <a href="http://127.0.0.1:5000"><span class="home">Home</span></a>
    </div>

    <nav id="mySidenav" class="sidenav">
        <a class="closebtn">&times;</a>
        <a href="http://127.0.0.1:5000/about_project">What is the project about?</a>
        <a href="http://127.0.0.1:5000/dataset">Dataset</a>
        <a href="http://127.0.0.1:5000/spending">Global Educational Spending</a>
        <a href="http://127.0.0.1:5000/education_levels">Education Levels</a>
        <a href="http://127.0.0.1:5000/education_future">Where is education going?</a>
    </nav>
    <div class="openbtn">
        <i class="fas fa-bars fa-2x"></i>
        <span class="menu-text">Menu</span>
    </div>
    <div class="all-over-bkg"></div>
    <div class="Unemployment">
        <img src="/static/css/images/chart4.png" class="timeseries">
    </div>
    <div class="about">
        <p>This graphic shows a time series of the unemployment rates in multiple countries over time. The dataset, once cleaned, included data from over 150 countries. This visualization showcases and highlights five countries with varying unemployment rates over time. While Afghanistan’s unemployment rate remained pretty stagnant over time, Argentina’s dropped and Portugal’s increased. This can be compared with the education statistics to see if Argentina’s government spent more money on education (primary, secondary, and tertiary) in this time period. This could explain the drop in unemployment from 2000 to 2020.</p>
    </div>
    <script src="static/css/js/nav.js"></script>
</body> 
</html>